/*
green: #019973
red: #df4931
yellow: #f9cc3b
blue: #3498db
white: #cccfd4
*/

html {
    font-family: "Ubuntu", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

.active {
    display: block;
}

.not-active {
    display: none;
}

.corner {
    position: absolute;
    padding: 9px;
    bottom: 0;
    right: 0;
}

#titles h1, #titles h2 {
    margin: 0;
    padding: 0;
}

#titles h1 {
    font-size: 6em;
}

#titles h2 {
    font-size: 4em;
    padding-left: 1em;
}

#initial-overlay, #data-mode {
    position: fixed;
    background-color: #cccfd4;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

#initial-overlay #titles {
    padding: 9px;
    float: left;
}

#initial-overlay #match-info {
    padding: 9px;
    float: right;
    text-align: right;
}

#match-info h1 {
    font-size: 2em;
}

#match-info {
    font-size: 1.5em;
}

#robot-color.blue {
    color: blue;
}

#robot-color.red {
    color: red;
}

#robot-image {
    width: 200px;
}

#magic-container {
    float: left;
}

#field-container, #scout-buttons {
    width: 960px;
    height: 437px;
}

#field-container {
    background-image: url(../img/field.png);
    background-size: 100%;
}

#side-buttons {
    padding: 9px;
    float: right;
    clear: right;
}

#bottom-buttons {
    padding: 9px;
}

#field-container #little-robot {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
}

input[type=button].scout {
    height: 40px;
    width: 200px;
}

input[type=button].scout.active {
    display: inline-block;
}

input[type=button].scout.teleop.bad {
    color: #df4931;
}

#scout-buttons input[type=button].scout {
    display: block;
    width: 50%;
    float: left;
    font-size: 2em;
}

#scout-buttons input[type=button].scout.full {
    height: calc(437px / 1);
}

#scout-buttons input[type=button].scout.half {
    height: calc(437px / 2);
}

#scout-buttons input[type=button].scout.third {
    height: calc(437px / 3);
}

#scout-buttons input[type=button].scout.quarter {
    height: calc(437px / 4);
}

.toggle#hotGoal.off {
    color: #000;
}

.toggle#hotGoal.on {
    color: #df4931;
}

.toggle.on {
    color: #019973;
}

.toggle.off {
    color: #df4931;
}

.status.selected {
    color: #3498db;
}

.status.selected.bad {
    color: #df4931;
}
