/*
green: #019973
red: #df4931
yellow: #f9cc3b
blue: #3498db
white: #cccfd4
*/

html {
    font-family: "Ubuntu", sans-serif;
}

body, html, h1, h2 {
    margin: 0px;
    padding: 0px;
}

span.blue {
    color: blue;
}

span.red {
    color: red;
}

#initial-overlay, #data-mode {
    display: none;
    position: fixed;
    background-color: #cccfd4;
    width: 100%;
    height: 100%;
}

#initial-overlay.active, #data-mode.active {
    display: block;
}

#initial-overlay #titles {
    padding: 9px;
    float: left;
}

#initial-overlay #match-info {
    padding: 9px;
    float: right;
    text-align: right;
}

#match-info h1 {
    font-size: 2em;
}

#match-info {
    font-size: 1.5em;
}

#robot-image {
    width: 200px;
}

#titles h1 {
    font-size: 6em;
}

#titles h2 {
    font-size: 4em;
    padding-left: 1em;
}

.corner {
    position: absolute;
    padding: 9px;
    bottom: 0px;
    right: 0px;
}

#magic-container {
    float: left;
}

#field-container {
    width: 742px;
    height: 338px;
    background-image: url(field.png);
}

#side-buttons {
    padding: 9px;
    float: right;
    clear: right;
}

#bottom-buttons {
    padding: 9px;
}

#auto-buttons, #teleop-buttons {
    display: none;
}

#auto-buttons.active, #teleop-buttons.active {
    display: block;
}

#little-robot {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
}

input[type=button].scout {
    height: 40px;
    width: 200px;
    display: block;
}

input[type=button].scout.half {
    width: 95px;
    display: inline-block;
}

input[type=button].scout.half + input[type=button].scout.half {
    margin-left: 6px;
}

input[type=button].scout:not(:first-child) {
    margin-top: 9px;
}

input[type=button].scout.disabled {
    display: none;
}
