.scout.collect {
	background-color: #2ECC40;
	border: 2px solid #111111;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	width: 300px;
}

.scout.collect:disabled {
	cursor: not-allowed;
	background-color: #54d963;
	border: 2px solid #777777;

}

.scout.collect:hover {
	background-color: #25a233;
}

.scout.collect:hover:disabled {
	background-color: #54d963;
}

.scout.eject {
	background-color: #0074d9;
	border: 2px solid #111111;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	width: 300px;
}

.scout.eject:disabled {
	cursor: not-allowed;
	background-color: #0d8eff;
	border: 2px solid #777777;

}

.scout.eject:hover {
	background-color: #0059a6;
}

.scout.eject:hover:disabled {
	background-color: #0d8eff;
}

.scout.cycle {
	background-color: #f012be;
	border: 2px solid #111111;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	width: 300px;
}

.scout.cycle:disabled {
	cursor: not-allowed;
	background-color: #a30a80;
	border: 2px solid #777777;

}

.scout.cycle:hover {
	background-color: #c30c9a;
}

.scout.cycle:hover:disabled {
	background-color: #a30a80;
}

#done {
	background-color: #ff4136;
	border: 2px solid #111111;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	width: 300px;
}

#done:disabled {
	cursor: not-allowed;
	background-color: #ff7169;
	border: 2px solid #777777;

}

#done:hover {
	background-color: #ff1103;
}

#done:hover:disabled {
	background-color: #ff7169;
}

.scout.bad {
	border: 2px solid red;
}